<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>test page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <header class="header">
    <div class="header__logo">
      <h1 class="logo__title"><i class="fab fa-twitter-square"></i> Twitter相性診断</h1>
      <div class="logo__text">
        <p><a href="https://www.ibm.com/watson/jp-ja/developercloud/personality-insights.html">IBM Watson Personality Insights</a>を用いて、Twitterを分析</p>
        <p>分析したお互いの診断結果から、性格においての5つの要素「Big5」の一致度を割り出します</p>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="user_input">
      <form class="user_input__form" action="/result" method="post" name="userinputform">
        <p>
          あなたのTwitter ID: <input type="text" name="user_name">
        </p>
        <p>
          相手のTwitter ID: <input type="text" name="target_name">
        </p>
        <p>
          <input type="submit" value="診断する!">
        </p>
      </form>
    </div>
  </main>
</body>
</html>